# Gjennomsnitt, median og standardavvik
I denne notebooken finner vi gjennomsnitt, median og standardavvik for værdataen. Dette er gjort ved bruk av klasser og funksjoner, som ligger i "Average.py" i mappen "src".

Her i første celle klargjøres det for bruk av klassene, ved å importere biblioteker og klassene som blir brukt i koden. I tillegg opprettes en dataframe med gjennomsnittsdataen funnet i filen "weather_api_45.ipynb". Så konverterer vi kolonnen for dato til datetime-format slik at vi kan hente ut år, måned og dag. Videre i de neste cellene blir klassen "Data" brukt i alle funksjonene. Dette er fordi det her opprettes en ny dataframe basert på hvilken elementId man vil hente ut informajon om. Her deles også dataen opp etter år og måned og pandasfunksjonen groupby benyttes for å gruppere etter måned og år, slik at vi lettere kan sammenligne dataen.

In [17]:
import os
import sys
import pandas as pd
import numpy as np

# Finner pathen til klassen og importerer klassen
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'src')))
from Average import Data, FindAverage, FindMedian, FindStd

# Legger til en absolutt path for csv-filen
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data', 'gjsnitt_data.csv'))


# Lager en dataframe av data fra "gjsnitt_data"
df = pd.read_csv(data_path)

#Konverterer kolonnen "date til datetime-format, slik at det ikke lenger er en tekststreng"
df["date"] = pd.to_datetime(df["date"])

## Finner gjennomnsitt per måned per år
Bruker klassen "Data" og "FindAverage". "FindAverage" brukes for å finne gjennomsnittet for temperatur, vind og nedbør per måned per år. Dette gjøres med den innebygde pandas funksjonen .mean(), hvor vi finner gjennsomsnittet for alle verdier innenfor samme måned per år. Vi har valgt å kun printe ut head(), som er de 5 første linjene av dataen, da det er enklere for koden å kjøre da. Og vi runder av til 3 desimaler.

In [18]:

#Finner gjennomsnittet for temperatur
average = FindAverage(data = df)
average.mean_per_year("mean(air_temperature P1D)", "Temperatur")

# Finner gjennomsnittet for vind
average.mean_per_year("mean(wind_speed P1D)", "Wind")

# Finner gjennomsnittet for nedbør
average.mean_per_year("sum(precipitation_amount P1D)", "Precipitaion")

Gjennomsnittet for Temperatur
   year  month   value
0  1975      1   0.110
1  1975      2  -3.664
2  1975      3   0.403
3  1975      4   4.172
4  1975      5  11.313
Gjennomsnittet for Wind
   year  month  value
0  1975      1  3.248
1  1975      2  0.914
2  1975      3  2.297
3  1975      4  3.283
4  1975      5  3.571
Gjennomsnittet for Precipitaion
   year  month  value
0  1975      1  3.332
1  1975      2  0.614
2  1975      3  1.081
3  1975      4  1.062
4  1975      5  1.089

     year  month  value
0    1975      1  3.332
1    1975      2  0.614
2    1975      3  1.081
3    1975      4  1.062
4    1975      5  1.089
..    ...    ...    ...
547  2020      8  1.792
548  2020      9  2.548
549  2020     10  6.644
550  2020     11  2.702
551  2020     12  5.138

[552 rows x 3 columns]

## Finner medianen per måned per år
Her finner vi medianen per måned per år. Median er den verdien som er på midten av samlet data. I dette tilfelle finner vi medianen per måned per år. Dette gjøres med klassene "Data" og "FindMedian". FindMedian benytter pandas-funksjonen  .median() for å finne medianen per måned per år. Her også printer vi kun head(), og det er rundet av til 3 desimaler.

In [19]:

# Finner medianen for temperaturen per måned per år
median = FindMedian(data = df)
median.median_per_year("mean(air_temperature P1D)", "Temperatur")

# Finner medianen for vind per måned per år
median = FindMedian(data = df)
median.median_per_year("mean(wind_speed P1D)", "Wind")

# Finner medianen for nedbør per måned per år
median = FindMedian(data = df)
median.median_per_year("sum(precipitation_amount P1D)", "Precipitation")

Median for Temperatur
   year  month   value
0  1975      1   0.400
1  1975      2  -3.875
2  1975      3   0.400
3  1975      4   4.600
4  1975      5  11.450
Median for Wind
   year  month  value
0  1975      1   3.10
1  1975      2   0.90
2  1975      3   2.10
3  1975      4   2.85
4  1975      5   3.60
Median for Precipitation
   year  month  value
0  1975      1   2.35
1  1975      2   0.00
2  1975      3   0.00
3  1975      4   0.00
4  1975      5   0.10

     year  month  value
0    1975      1  2.350
1    1975      2  0.000
2    1975      3  0.000
3    1975      4  0.000
4    1975      5  0.100
..    ...    ...    ...
547  2020      8  0.000
548  2020      9  0.075
549  2020     10  4.150
550  2020     11  0.150
551  2020     12  4.075

[552 rows x 3 columns]

# Finner standardavvik
Her finner vi standardavvik, hvor vi benytter klassene "Data" og "FindStd". "FindStd" bruker pandas funksjonen .std() for å finne standardavvik per måned per år. Standardavvik viser hvor mye de innsamlede verdiene varierer fra gjennomsnittet. Her også printes kun head(), og det er rundet av til 3 desimaler.

In [20]:
std = FindStd(data = df)
std.std_per_year("mean(air_temperature P1D)", "Temperature")


std = FindStd(data = df)
std.std_per_year("mean(wind_speed P1D)", "Wind")


std = FindStd(data = df)
std.std_per_year("sum(precipitation_amount P1D)", "Precipitation")

Standardavvik for Temperature
   year  month  value
0  1975      1  2.558
1  1975      2  2.978
2  1975      3  0.892
3  1975      4  3.197
4  1975      5  3.298
Standardavvik for Wind
   year  month  value
0  1975      1  1.569
1  1975      2  0.599
2  1975      3  1.640
3  1975      4  1.565
4  1975      5  1.273
Standardavvik for Precipitation
   year  month  value
0  1975      1  3.595
1  1975      2  2.039
2  1975      3  2.134
3  1975      4  2.171
4  1975      5  1.871

     year  month  value
0    1975      1  3.595
1    1975      2  2.039
2    1975      3  2.134
3    1975      4  2.171
4    1975      5  1.871
..    ...    ...    ...
547  2020      8  3.234
548  2020      9  5.709
549  2020     10  7.677
550  2020     11  4.853
551  2020     12  5.752

[552 rows x 3 columns]