# Henter data
Henter inn data om luftkvalitet fra Blindern i Oslo i løpet av hele 2017.

In [63]:
import requests
import pandas as pd

# API URL
url = "https://api.nilu.no/aq/historical/2017-01-01/2017-01-02/59.89869/10.81495/3.0?components=no2;pm10"

# Hent data fra API
response = requests.get(url)

def get_data():
    
    if response.status_code == 200:
        
        data = response.json()  

        with open("data.json","w") as f:
            json.dump(data, f, indent=4)
        print("Dataen er lagret i data.json")
    else:
        print("noe gikk galt med API-kallet. Feilkoden er:", response.status_code)

get_data()

Dataen er lagret i data.json

In [ ]:
import pandas as pd
from pandas import json_normalize
import json

# Åpne og les JSON-filen
with open('data.json', 'r') as file:
    data = json.load(file)



def extract_component_data(data, component_name):
    # Filtrer dataene for den spesifikke komponenten (NO2 eller PM10)
    component_data = [item for item in data if item['component'] == component_name]
    
    # Normaliser 'values' for hver komponent
    df_list = [json_normalize(item['values'], sep='_') for item in component_data]
    
    # Slå sammen alle DataFrame-ene til én DataFrame
    df = pd.concat(df_list, ignore_index=True)
    
    # Legg til en kolonne for komponenten
    df['component'] = component_name
    
    return df


df_no2 = extract_component_data(data, 'NO2')

df_no2 = df_no2.rename(columns={'value': 'NO2'})

df_pm10 = extract_component_data(data, 'PM10')

df_pm10 = df_pm10.rename(columns={'value': 'PM10'})

df_no2['PM10'] = df_pm10['PM10']




df_no2

,fromTime,toTime,NO2,qualityControlled,index,color,component,PM10
0,2017-01-01T00:00:00+01:00,2017-01-01T01:00:00+01:00,33.656246,True,1,6ee86e,NO2,305.36
1,2017-01-01T01:00:00+01:00,2017-01-01T02:00:00+01:00,66.923648,True,1,6ee86e,NO2,258.06
2,2017-01-01T02:00:00+01:00,2017-01-01T03:00:00+01:00,45.079216,True,1,6ee86e,NO2,103.84
3,2017-01-01T03:00:00+01:00,2017-01-01T04:00:00+01:00,63.750189,True,1,6ee86e,NO2,54.23
4,2017-01-01T04:00:00+01:00,2017-01-01T05:00:00+01:00,60.040693,True,1,6ee86e,NO2,35.75
5,2017-01-01T05:00:00+01:00,2017-01-01T06:00:00+01:00,40.123382,True,1,6ee86e,NO2,17.16
6,2017-01-01T06:00:00+01:00,2017-01-01T07:00:00+01:00,23.945583,True,1,6ee86e,NO2,3.08
7,2017-01-01T07:00:00+01:00,2017-01-01T08:00:00+01:00,39.285531,True,1,6ee86e,NO2,8.36
8,2017-01-01T08:00:00+01:00,2017-01-01T09:00:00+01:00,20.969613,True,1,6ee86e,NO2,8.03
9,2017-01-01T09:00:00+01:00,2017-01-01T10:00:00+01:00,29.914668,True,1,6ee86e,NO2,6.93
10,2017-01-01T10:00:00+01:00,2017-01-01T11:00:00+01:00,26.948923,True,1,6ee86e,NO2,8.47
11,2017-01-01T11:00:00+01:00,2017-01-01T12:00:00+01:00,53.854040,True,1,6ee86e,NO2,13.86
12,2017-01-01T12:00:00+01:00,2017-01-01T13:00:00+01:00,60.636371,True,1,6ee86e,NO2,20.24
13,2017-01-01T13:00:00+01:00,2017-01-01T14:00:00+01:00,67.903360,True,1,6ee86e,NO2,33.22
14,2017-01-01T14:00:00+01:00,2017-01-01T15:00:00+01:00,114.729004,True,2,ff9900,NO2,57.20
15,2017-01-01T15:00:00+01:00,2017-01-01T16:00:00+01:00,31.941761,True,1,6ee86e,NO2,36.85
16,2017-01-01T16:00:00+01:00,2017-01-01T17:00:00+01:00,40.508356,True,1,6ee86e,NO2,35.53
17,2017-01-01T17:00:00+01:00,2017-01-01T18:00:00+01:00,40.723873,True,1,6ee86e,NO2,35.31
18,2017-01-01T18:00:00+01:00,2017-01-01T19:00:00+01:00,32.197053,True,1,6ee86e,NO2,33.55
19,2017-01-01T19:00:00+01:00,2017-01-01T20:00:00+01:00,27.516625,True,1,6ee86e,NO2,28.93
20,2017-01-01T20:00:00+01:00,2017-01-01T21:00:00+01:00,26.227342,True,1,6ee86e,NO2,27.83
21,2017-01-01T21:00:00+01:00,2017-01-01T22:00:00+01:00,60.804300,True,1,6ee86e,NO2,47.41
22,2017-01-01T22:00:00+01:00,2017-01-01T23:00:00+01:00,57.580885,True,1,6ee86e,NO2,44.44
23,2017-01-01T23:00:00+01:00,2017-01-02T00:00:00+01:00,70.276346,True,1,6ee86e,NO2,42.90